/*/**
 * General
 */

.input.label-switch {
    display: block;
    position: relative;
    margin-top: 1em;
    margin-bottom: 0.8em;
}

.input.label-switch input {
    display: block;
    position: relative;
    height: 1em;
    width: 100%;

    padding: 0;
    margin: 0 0 15px 0;

    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #eee;

    -webkit-border-radius: 0;
    border-radius: 0;
    font-size: 1em;
}

.input.label-switch label {
    display: block;
    position: absolute;
    top: 0;
    left: 0.75rem;

    font-size: 1em;
    cursor: text;
    color: #BBB;

    -webkit-transition: .2s ease-out;
    -moz-transition: .2s ease-out;
    -ms-transition: .2s ease-out;
    -o-transition: .2s ease-out;
    transition: .2s ease-out;
}

.input.label-switch label.active {
    font-size: 0.8em;
    -webkit-transform: translateY(-80%);
    -moz-transform: translateY(-80%);
    -ms-transform: translateY(-80%);
    -o-transform: translateY(-80%);
    transform: translateY(-80%);
}

/**
 * 	Body
 */
body {
    background: #EEE
}

.slider-container.market-slider-container {
    height: 300px;
}

.slider-container.market-slider-container .slide {
    top: -26px;
    height: 300px;
    padding: 0;
    overflow: hidden;
    background: url(../imgs/market/slide-1.png) center center no-repeat;
    -webkit-background-size: 95%;
    -o-background-size: 95%;
    background-size: 95%;
}

/* Homepage */
.assets-bar-container {
    display: block;
    position: relative;
    width: 30%;
    height: auto;

    margin: 1.5%;

    float: left;

    background: #FFF;
}

.assets-bar-container:first-child {
    margin-left: 2%
}

.assets-bar-container:last-child {
    right-left: 2%
}

.assets-bar-container .header-line {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;

    line-height: 40px;
    text-align: center;

    background: #C0392B;
}

.assets-bar-container .sub-header-line {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;

    line-height: 30px;
    text-align: center;

    background: #e74c3c;
}

.assets-bar-container .header-line .name {
    display: block;
    position: relative;
    font-family: HeroRegular;
    text-transform: uppercase;

    font-size: 1.4em;
    color: #FFF;
}

.assets-bar-container .sub-header-line .sub-name {
    display: block;
    position: relative;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;

    font-size: 0.9em;
    color: #F6F6F6;
}

.assets-bar-container .asset-line {
    display: block;
    position: relative;
    width: 100%;
    height: 120px;

    padding: 10px;

    background: #FFF;
    border-bottom: 1px solid #DDD;
}

.assets-bar-container .asset-line .title {
    display: block;
    position: relative;
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: bold;

    font-size: 0.95em;
    color: #111;
}

.assets-bar-container .asset-line .author {
    display: block;
    position: relative;
    font-family: "Open Sans", Helvetica, Arial;
    width: 60%;

    margin-top: -3px;
    margin-bottom: 3px;

    font-size: 0.8em;
    color: #212121;
}

.assets-bar-container .asset-line .desc {
    display: block;
    position: relative;
    font-family: "Open Sans", Helvetica, Arial;
    width: 60%;

    font-size: 0.8em;
    color: #383838;
}

.assets-bar-container .asset-line .rating {
    display: block;
    position: relative;
    font-family: "Open Sans", Helvetica, Arial;
    width: 100%;
    height: auto;

    margin-top: 10px;

    font-size: 0.85em;
    color: #111;
}

.assets-bar-container .asset-line .rating .likes {
    font-weight: bold;
    color: #C0392B;
    margin-left: 5px;
    font-size: 0.95em;
}

.assets-bar-container .asset-line .rating .rating-stars {
    display: inline-block;
    position: relative;
    color: #2980B9;

    margin-left: 10px;
}

.assets-bar-container .asset-line .preview {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 140px;
    height: 79px;

    background: url(https://gameindus.fr//imgs/projects/unknown.png) center center no-repeat;
    -webkit-background-size: 120%;
    -o-background-size: 120%;
    background-size: 120%;
}

.assets-bar-container .asset-line:hover {
    background: #EFEFEF;
    cursor: pointer
}

.assets-bar-container .asset-line.disable:hover {
    background: #FFF;
    cursor: default
}

.categories-container {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    border-left: 5px solid #3498db;

    padding: 20px 3%;
    margin: 50px 0;
}

.categories-container .left {
    display: block;
    position: relative;
    width: 30%;
    height: auto;
    float: left;
}

.categories-container .right {
    display: block;
    position: relative;
    width: 68%;
    height: auto;
    margin-left: 2%;
    float: left;
}

.categories-container .title {
    display: block;
    position: relative;
    margin-bottom: 30px;

    text-transform: uppercase;
    font-family: HeroRegular;
    font-weight: bold;
    font-size: 2.3em;

    color: #3498db;
}

.categories-container .presentation {
    margin-bottom: 20px
}

.categories-container .btn-more {
    width: 145px;
    height: 30px;
    line-height: 30px;

    float: right;

    font-size: 0.9em;
}

.categories-container .btn-more a {
    color: #FFF
}

.categories-container .category-container {
    display: block;
    position: relative;
    width: 20%;
    height: 80px;
    margin: 20px 2.5%;

    float: left;

    -webkit-transition: ease-out .2s;
    -moz-transition: ease-out .2s;
    -ms-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s;
}

.categories-container .category-container .preview {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;

    background: url(https://gameindus.fr/imgs/projects/unknown.png) center center no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.categories-container .category-container .name {
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 20px;

    overflow: hidden;
    background: #FFF;

    font-family: "Open Sans", Helvetica, Arial;
    font-size: 0.85em;
    color: #383838;
}

.categories-container .category-container:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.categories-container .category-container:hover .name {
    background: #F1F2F6
}

.categories-list-container .category-list {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px 0;
    padding: 15px 0;

    border-bottom: 3px dashed #DDD;
}

.categories-list-container .left {
    display: block;
    position: relative;
    width: 30%;
    height: auto;
    float: left;
}

.categories-list-container .right {
    display: block;
    position: relative;
    width: 68%;
    height: auto;
    margin-left: 2%;
    float: left;
}

.categories-list-container .title {
    display: block;
    position: relative;
    margin: 30px;

    text-transform: uppercase;
    font-family: HeroRegular;
    font-weight: bold;
    font-size: 2.3em;

    color: #3498db;
}

.categories-list-container .subcategory-container {
    display: block;
    position: relative;
    width: 20%;
    height: 80px;
    margin: 20px 2.5%;

    float: left;

    -webkit-transition: ease-out .2s;
    -moz-transition: ease-out .2s;
    -ms-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s;
}

.categories-list-container .subcategory-container .preview {
    display: block;
    position: relative;
    width: 100%;
    height: 60px;

    background: url(https://gameindus.fr/imgs/projects/unknown.png) center center no-repeat;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.categories-list-container .subcategory-container .name {
    display: block;
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    line-height: 20px;

    overflow: hidden;
    background: #FFF;

    font-family: "Open Sans", Helvetica, Arial;
    font-size: 0.85em;
    color: #383838;
}

.categories-list-container .subcategory-container:hover {
    cursor: pointer;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}

.categories-list-container .subcategory-container:hover .name {
    background: #F1F2F6
}

section.market-header {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;

    background: #DDD;
    padding: 25px 0;
}

section.market-header div.popu-asset {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 45%;
    height: 250px;

    background: #4895a6;
}

section.market-header div.popu-asset.pa-2 {
    height: 140px;
    width: 20%;
    left: 46%;
    top: 0;
    background: #cee83b
}

section.market-header div.popu-asset.pa-3 {
    height: 100px;
    width: 34%;
    left: 46%;
    top: 150px;
    background: #d129d3
}

section.market-header div.popu-asset.pa-4 {
    height: 140px;
    width: 13%;
    left: 67%;
    top: 0;
    background: #2971d3
}

section.market-header div.popu-asset.pa-5 {
    height: 250px;
    width: 19%;
    left: 81%;
    top: 0;
    background: #f0a939
}

section.market-header div.popu-asset {
    -webkit-background-size: 100% !important;
    -o-background-size: 100% !important;
    background-size: 100% !important;

    -webkit-transition: ease-out .2s;
    -moz-transition: ease-out .2s;
    -ms-transition: ease-out .2s;
    -o-transition: ease-out .2s;
    transition: ease-out .2s;
}

section.market-header div.popu-asset:after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    content: " ";

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.5+0,0.89+96 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.89) 96%, rgba(0, 0, 0, 0.89) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.89) 96%, rgba(0, 0, 0, 0.89) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.89) 96%, rgba(0, 0, 0, 0.89) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#e3000000', GradientType=0); /* IE6-9 */

    z-index: 1;
}

section.market-header div.popu-asset:hover {
    cursor: pointer;

    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

section.market-header div.popu-asset .meta {
    display: block;
    position: absolute;
    width: 100%;
    height: 80px;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
}

section.market-header div.popu-asset .meta .left,
section.market-header div.popu-asset .meta .right {
    display: block;
    position: relative;
    float: left;
    width: 80%;
    height: 80px;

    overflow: hidden;

    padding: 10px 15px;
}

section.market-header div.popu-asset .meta .right {
    text-align: right;
    width: 20%
}

section.market-header div.popu-asset .meta .title {
    font-family: "Open Sans", Helvetica;
    font-size: 1.8em;
    color: #EEE;
}

section.market-header div.popu-asset .meta .user {
    font-family: "Open Sans", Helvetica;
    font-weight: bold;
    font-size: 0.95em;
    color: #BBB;
}

section.market-header div.popu-asset .meta .likes {
    margin-top: 15px;
    font-weight: bold;
    color: #FE4365;
}

section.market-header div.popu-asset .meta .stars {
    font-weight: bold;
    color: #EDC951;
}

section.market-header div.popu-asset.pa-2 .meta .title {
    font-size: 1.0em
}

section.market-header div.popu-asset.pa-2 .meta .left {
    width: 70%
}

section.market-header div.popu-asset.pa-2 .meta .right {
    width: 30%
}

section.market-first {
    margin-top: 20px
}

section.market-first .categories {
    display: block;
    position: relative;
    height: auto;
    background: #DEDEDE;

    padding: 0;
}

section.market-first .categories .title {
    display: block;
    position: relative;
    width: 100%;
    height: 35px;

    line-height: 35px;

    background: #2c3e50;
    border-bottom: 2px solid #22313F;
    color: #BBB;
    padding-left: 20px;
    font-size: 1.2em;
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: 400;
}

section.market-first .categories a {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 25px;

    background: #DEDEDE;
    color: #383838;
    font-size: 1.1em;
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: 400;
    text-decoration: none;
    border-bottom: 1px solid #cdcdcd;

    -webkit-transition: all .1s;
    -moz-transition: all .1s;
    -ms-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s;
}

section.market-first .categories a:last-child {
    border-bottom: none
}

section.market-first .categories a:hover {
    background: #CCC
}

section.market-first .headband {
    display: block;
    position: relative;
    width: 100%;
    height: 135px;
    margin-bottom: 5px;

    background: #DEDEDE;
}

section.market-first .headband .prev, section.market-first .headband .next {
    display: block;
    position: absolute;
    width: auto;
    height: auto;
    left: 10px;
    top: 49.5px;

    padding: 6px 5px;

    background: #2C3E50;
    color: #BBB;
    font-weight: bold;
    font-size: 1.2em;
    text-align: center;
}

section.market-first .headband .next {
    left: inherit;
    right: 10px
}

section.market-first .headband .prev:hover, section.market-first .headband .next:hover {
    background: #22313F;
    cursor: pointer;
}

section.market-first .headband .soon {
    display: block;
    position: relative;
    width: 100%;
    height: 135px;

    line-height: 135px;
    text-align: center;

    color: #494949;
    font-size: 1.2em;
}

input.input-tags {
    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -ms-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
}

input.input-tags + #tags-container {
    display: block;
    position: absolute;
    width: auto;
    height: 40px;
    bottom: 0;
    left: 0;

    padding: 5px;
    clear: both;
}

input.input-tags + #tags-container .tag {
    display: block;
    position: relative;
    height: 30px;
    float: left;

    padding: 0 10px;
    margin: 0 3px;

    background: #337AB7;
    line-height: 30px;
    -webkit-border-radius: 2.5px;
    border-radius: 2.5px;
    color: #FFF;
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: 400;
    font-size: 1.0em;
}

.dropzone {
    display: block;
    position: relative;
    width: 100%;
    height: 200px;

    border: 3px dashed #CCC;

    line-height: 200px;
    text-align: center;
    font-family: "Open Sans", Helvetica;
    font-size: 1.2em;
    font-weight: bold;
    color: #BBB;

    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -ms-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
}

.dropzone.hover {
    border-style: solid;
    border-color: #337AB7;
    color: #337AB7;
}

.dropzone.error {
    border-style: solid;
    border-color: #D14334;
    color: #D14334;
}

#progress-bar-container {
    display: none;
    position: relative;
    width: 80%;
    height: 5px;

    float: left;
    margin-left: 20px;
    margin-top: 7.5px;
    padding: 1px;

    background: #DDD;
}

#progress-bar-container .progress-bar {
    display: block;
    position: absolute;
    height: 3px;
    top: 1px;
    bottom: 2px;
    box-shadow: none;

    background: #337AB7;
}

#progress-bar-container .progress-bar-perc {
    display: block;
    position: relative;
    bottom: -5px;
    left: 0;

    font-family: "Open Sans", Helvetica, Arial;
    font-size: 1.0em;
    font-weight: bold;
    color: #337AB7;
    text-align: left;
}

.search-bar {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;
    background: #FFF;

    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;

    clear: both;
}

.search-bar p {
    display: inline-block;
    position: relative;
    height: 39px;

    line-height: 39px;
    color: #383838;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 0.85em;
    font-weight: 400;

    border-right: 1px solid #EEE;
    padding: 0 15px;
}

.search-bar p.bl {
    border-left: 1px solid #EEE
}

.search-bar p select {
    display: inline-block;
    padding: 2px 5px;
    background: #DDD;
    color: #777;

    border: none;
    font-size: 1em;
    font-weight: bold;
}

.search-bar .search-template-icons {
    display: block;
    position: relative;
    width: auto;
    height: 40px;
    float: right;

    text-align: right;
}

.search-bar .search-template-icons i.fa {
    display: inline-block;
    position: relative;
    height: 39px;
    width: auto;
    color: #AAA;
    margin: 0 1px;
    padding: 0 10px;

    line-height: 39px;

    -webkit-transition: .1s ease-out;
    -moz-transition: .1s ease-out;
    -ms-transition: .1s ease-out;
    -o-transition: .1s ease-out;
    transition: .1s ease-out;
}

.search-bar .search-template-icons i.fa:hover, .search-bar .search-template-icons i.fa.active {
    background: #DDD;
    cursor: pointer;
    color: #777;
}

.search-results {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 10px 0;
}

.search-results .result {
    display: block;
    position: relative;
    width: 100%;
    height: 150px;
    margin-bottom: 15px;

    background: #FFF;
    border-right: 1px solid #DDD;
    border-bottom: 2px solid #DDD;

    clear: both;
}

.search-results .result .preview {
    display: block;
    position: relative;
    width: 20%;
    height: 100%;
    float: left;

    background: #f2f2f2;
    background-position: center center;
    border-right: 2px solid #EEE;
}

.search-results .result .right {
    display: block;
    position: relative;
    height: 100%;
    width: 80%;
    float: left;

    padding: 5px 10px;

    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.search-results .result a {
    text-decoration: none;
}

.search-results .result .title {
    color: #383838;
    font-size: 1.5em;
    text-decoration: none;
}

.search-results .result .tags {
    display: block;
    position: relative;
    width: auto;
    height: 18px;

    clear: both;
}

.search-results .result .tags .tag {
    display: block;
    position: relative;
    height: 18px;
    float: left;

    padding: 0 4px;
    margin: 0 3px;

    background: #3498db;
    line-height: 18px;
    -webkit-border-radius: 2.5px;
    border-radius: 2.5px;
    color: #FFF;
    font-family: "Open Sans", Helvetica, Arial;
    font-weight: 400;
    font-size: 0.9em;
}

.search-results .result .tags .tag:hover {
    background: #2980b9
}

.search-results .result p.description {
    font-size: 1em;
    margin: 8px 0;
    padding: 0;
}

.search-results .result .meta-bar {
    display: block;
    position: absolute;
    width: 100%;
    height: 25px;
    bottom: 0;
    right: 0;
    line-height: 25px;

    background: #F2F2F2;
    border-top: 1px solid #EEE;
}

.search-results .result .meta-bar span {
    color: #383838;
    font-family: "Open Sans", Helvetica, Arial;
    font-size: 0.95em;
    font-weight: 300;

    padding: 0 20px;
    border-right: 1px solid #DDD;
}

.search-results .result .meta-bar span.scale:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.search-form-container {
    display: block;
    position: relative;
    width: 60%;
    height: auto;

    margin: 50px auto;
    padding: 0 20px;
    padding-bottom: 20px;
    background: #DDD;
}

.player-asset {
    display: block;
    position: relative;
    width: 100%;
    height: 250px;

    margin-top: 10px;

    background: #95a5a6;
}

.player-asset span {
    display: block;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #383838;

    font-size: 0.9em;
    font-family: "Open Sans", Helvetica, Arial;
    z-index: 2;
}

.player-asset .metabar {
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    right: 0;

    background: #DDD;
    border-top: 2px solid #CCC;

    clear: both;
}

.player-asset .metabar div, .player-asset .metabar i.fa {
    display: block;
    position: relative;
    float: left;
    width: auto;
    height: 28px;

    line-height: 28px;
    color: #555;

    padding: 0 15px;
    border-left: 1px solid #CCC;
}

.player-asset .metabar i.fa.right, .player-asset .metabar div.right {
    float: right
}

.player-asset .metabar i.fa:hover {
    cursor: pointer;
    background: #BBB;
}

.row.asset-row {
    background: #FFF;
    border-left: 2px solid #DDDDDD;
    border-right: 2px solid #DDDDDD;
}

.infosbox {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
}

.infosbox .title {
    display: block;
    position: relative;
    width: 100%;
    height: 40px;

    line-height: 40px;
    text-align: center;

    background: #C0392B;

    font-family: HeroRegular;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #FFF;
}

.infosbox .sub-title {
    display: block;
    position: relative;
    width: 100%;
    height: 30px;

    line-height: 30px;
    text-align: center;

    background: #e74c3c;

    font-family: "Open Sans", Helvetica;
    font-size: 1em;
    color: #F1F2F5;
}

.infosbox .content {
    display: block;
    position: relative;
    width: 100%;
    height: auto;

    background: #FFF;
    border-bottom: 2px solid #DDD;

    padding: 15px;
    margin-bottom: 15px;
}

.infosbox .content .line {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    font-weight: bold;
    font-family: "Open Sans", Helvetica;
    color: #323232;

    padding-left: 2%;
    overflow: hidden;

    margin-bottom: 5px;
}

.infosbox .content .line b {
    display: inline-block;
    position: absolute;
    right: 0;
    text-align: left;
    font-family: "Open Sans", Helvetica;
    color: #383838;

    width: 60%;

    font-weight: 400;
}

.asset-tabs .tab {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    margin: 15px 0;
}

.asset-tabs .tab:first-child {
    margin-top: 0
}

.asset-tabs .tab .title {
    display: block;
    position: relative;
    height: 38px;
    width: 125px;

    text-align: center;
    background: #DDD;
    border: 2px solid #EEE;

    color: #383838;
    line-height: 36px;
    font-family: HeroRegular, Helvetica;
    font-weight: 400;
    font-size: 1.3em;
}

.asset-tabs .tab .content {
    padding: 12px;
}

hr.dashed {
    display: block;
    position: relative;
    width: 100%;
    height: 0;

    border-bottom: 3px dashed #DDD;
    background: none;
}

main blockquote {
    display: block;
    position: relative;
    width: 98%;

    border-left: 3px solid #337AB7;
    padding-left: 15px;
    margin: 30px 0;

    background: #AECCE5;
}

main blockquote p {
    font-size: 16px
}

main blockquote.green {
    background: #2ecc71;
    border-left-color: #27ae60;
    color: #111
}