html, body {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.clearfix {
    clear: both;
}

.hero {
    background: #333;
    background: url(../img/background.jpg) center;
    background-size: cover;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    box-sizing: border-box;
}

.hero .particles-js-canvas-el {
    position: fixed;
    display: none;
}

.hero:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(51, 49, 58, 0.8);
}

.hero.active .particles-js-canvas-el {
    display: block;
}

.centered {
    z-index: 1;
}

.logo {
    margin: auto;
    display: block;
    width: 400px;
}

@media (max-width: 1170px) {
    .logo {
        width: 300px;
    }
}

.title {
    font-family: "Montserrat", serif;
    color: #ffffff;
    font-weight: 100;
    letter-spacing: .5em;
    padding: 0 0 0 .5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 20px;
}

@media (max-width: 1170px) {
    .title {
        font-size: 12px;
        margin-top: 15px;
    }
}

.heading {
    margin-top: 80px;
    color: #ffffff;
    font-family: "Montserrat", serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    padding: 0 0 0 .3em;
    font-weight: 100;
}

@media (max-width: 1170px) {
    .heading {
        font-size: 32px;
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    .heading {
        font-size: 24px;
    }
}

.description {
    margin: auto;
    font-family: "Raleway", serif;
    color: #ffffff;
    text-align: center;
    line-height: 2.5em;
    letter-spacing: .15em;
    max-width: 600px;
}

@media (max-width: 1170px) {
    .description {
        font-size: 13px;
        max-width: 500px;
    }
}

@media (max-width: 480px) {
    .description {
        font-size: 11px;
        width: 300px;
    }
}

.social-text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 100vw;
    text-align: center;
}

.social-text a {
    color: #b3b3b3;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Montserrat", serif;
    font-size: 12px;
    letter-spacing: .2em;
    padding: 0 0 0 .2em;
    margin: 0 10px;
    transition: color .4s;
}

@media (max-width: 1170px) {
    .social-text a {
        font-size: 10px;
    }
}

.social-text a:hover {
    color: #ffffff;
}
