@font-face {
  font-family: HeroRegular;
  src: url(fonts/hero-regular.woff2) format('woff2'),
  url(fonts/hero-regular.woff) format('woff'),
  url(fonts/hero-regular.otf) format('truetype');
}

@font-face {
  font-family: HeroBold;
  src: url(fonts/hero-bold.woff2) format('woff2'),
  url(fonts/hero-bold.woff) format('woff'),
  url(fonts/hero-bold.otf) format('truetype');
}
